@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --color-primary: #db4444;
  --color-secondary: #f5f5f5;
  --color-text-main: #000000;
  --color-text-light: #fafafa;
  --color-text-gray: #7d8184;
  --color-accent: #00ff66;
  --color-hover: #e07575;
  --color-border: #b3b3b3;

  --font-primary: "Poppins", sans-serif;
  --font-heading: "Inter", sans-serif;

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 40px;
  --spacing-xxl: 80px;

  --radius-sm: 4px;
  --radius-md: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  color: var(--color-text-main);
  background-color: #ffffff;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button {
  font-family: inherit;
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
}

hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.text-white {
  color: var(--color-text-light);
}

.text-red {
  color: var(--color-primary);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mr-10 {
  margin-right: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

[class^="col-"] {
  padding: 0 15px;
}

.col-2 {
  width: 16.666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: 66.66%;
}

.col-12 {
  width: 100%;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  padding: 16px 48px;
  border-radius: var(--radius-sm);
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--color-hover);
}

.view-more {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  padding: 16px 48px;
  border-radius: var(--radius-sm);
  font-weight: 500;
  margin: 60px auto 0;
  display: block;
}

/* ------------------- Header -------------------- */

.header-top {
  background-color: var(--color-text-main);
  color: var(--color-text-light);
  padding: 12px 0;
  font-size: 14px;
}

.header-top-inner {
  justify-content: space-between;
}

.header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}

.header-center p {
  color: #fafafa;
}

.header-center a {
  font-weight: 600;
  text-decoration: underline;
  margin-left: 8px;
}

.header-right {
  gap: 10px;
  margin-left: auto;
}

.header-right p {
  color: #fafafa;
  margin-right: 5px;
}

/* ------------------- Main Header -------------------- */

.header-main {
  background-color: #ffffff;
  padding: 20px 0 0 0;
  margin-bottom: 20px;
  position: relative;
}

.header-main-inner {
  border: 1px solid black;
  padding: 0px;
}

.logo img {
  height: 34px;
  width: auto;
}

.navbar ul {
  gap: 48px;
}

.navbar a {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text-main);
  position: relative;
  text-decoration: none;
}

.navbar a.active,
.navbar a:hover {
  text-decoration: none;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0px;
  left: 0;
  background-color: var(--color-text-main);
  transition: width 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
}

.search-bar {
  background-color: var(--color-secondary);
  border-radius: var(--radius-sm);
  padding: 7px 12px;
  margin-right: 24px;
  min-width: 243px;
  position: relative;
  z-index: 10;
  top: 1px;
}

.search-bar input {
  background: transparent;
  font-size: 12px;
  width: 100%;
  color: var(--color-text-main);
  padding-right: 30px !important;
}

.search-bar img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icons {
  gap: 16px;
}

.icons img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.border-top {
  border-top: 1px solid var(--color-border);
}

/* ------------------- Banner -------------------- */

.banner {
  padding-top: 30px;
  margin: 20px 0px 80px 0px;
  width: 100%;
}

.banner-inner {
  align-items: flex-start !important;
  min-width: 97%;
}

.banner-sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 16px;
  height: 100%;
}

.banner-sidebar ul li {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.banner-sidebar ul li:nth-child(1)::after,
.banner-sidebar ul li:nth-child(2)::after {
  content: ">";
  font-family: monospace;
  font-weight: bold;
  font-size: 12px;
}

.banner-sidebar a {
  font-size: 16px;
  color: var(--color-text-main);
}

.banner-sidebar a:hover {
  color: var(--color-primary);
}

.banner-right {
  background-color: var(--color-text-main);
  color: var(--color-text-light);
  margin-left: 45px;
  padding: 40px 0 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 410px;
  width: 100%;
  position: relative;
}

.banner-content {
  max-width: 300px;
}

.banner-content img[alt="Apple Logo"] {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  filter: brightness(0) invert(1);
}

.banner-content p {
  display: inline-block;
  font-size: 18px;
}

.banner-content h1 {
  font-size: 52px;
  font-family: var(--font-heading);
  font-weight: 600;
  line-height: 1.2;
  margin: 25px 0;
}

.banner-content a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid var(--color-text-light);
  padding-bottom: 2px;
}

.banner-content a img {
  filter: brightness(0) invert(1);
  width: 24px;
  height: auto;
}

.banner-image img {
  max-width: 95%;
  height: auto;
  transform: scale(1.1);
}

.banner-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
}

.banner-pagination span {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.banner-pagination span.active {
  background-color: #ef4444;
  border: 2px solid white;
}

/* ------------------- Common CSS -------------------- */

section {
  margin-bottom: 80px;
}

h4 {
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 600;
  margin: 50px 0 20px 0px;
  display: flex;
  align-items: center;
}

h4::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 40px;
  background-color: var(--color-primary);
  border-radius: 4px;
  margin-right: 16px;
}

h2 {
  font-size: 36px;
  font-family: var(--font-heading);
  font-weight: 600;
  letter-spacing: 0.04em;
}

.navigation img {
  background-color: var(--color-secondary);
  border-radius: 50%;
  padding: 10px;
  width: 46px;
  height: 46px;
  margin-left: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.navigation img:hover {
  background-color: #e0e0e0;
}

/* ------------------- Todays Section -------------------- */

.todays-header {
  margin-bottom: 40px;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.todays-header-content {
  display: flex;
  align-items: flex-end;
  gap: 87px;
  width: 100%;
}

.timer-group {
  display: flex;
  gap: 20px;
  align-items: center;
}

.timer-item {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 500;
}

.timer-item span {
  font-size: 32px;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1;
}

.timer-separator {
  font-size: 32px;
  color: #e07575;
  font-weight: 700;
  line-height: 1;
  margin-top: 10px;
}

.sale-item {
  width: 270px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  margin: 35px 0 0 2px;
}

.sale-item-image {
  position: relative;
  background-color: var(--color-secondary);
  border-radius: var(--radius-sm);
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 16px;
  cursor: pointer;
}

.sale-item-image img.product-img {
  max-width: 180px;
  max-height: 150px;
  object-fit: contain;
  transition: transform 0.3s;
}

.discount-badge,
.new-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: var(--color-primary);
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 10;
}

.new-badge {
  background-color: #00ff66;
  color: white;
}

.card-icons {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 10;
}

.card-icon-btn {
  background-color: white;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-icon-btn img {
  width: 20px;
  height: 20px;
}

.add-to-cart-btn {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  transition: bottom 0.3s ease;
  cursor: pointer;
  font-weight: 500;
}

.sale-item:hover .add-to-cart-btn {
  bottom: 0;
}

.sale-item:hover {
  cursor: pointer;
}

.sale-item p:nth-of-type(1) {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
}

.sale-item h3 {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-primary);
  display: inline-block;
  margin-right: 12px;
}

.old-price {
  text-decoration: line-through;
  color: var(--color-text-gray);
  margin-left: 10px;
}

.rating-box {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.rating-box img {
  height: 20px;
  width: auto;
}

.rating-box p {
  font-size: 14px;
  color: var(--color-text-gray);
  margin: 0 !important;
}

/* ------------------- Category Section -------------------- */

.categories-inner .col-20 {
  display: flex;
  justify-content: center;
}

.category-box {
  width: 170px;
  height: 145px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.category-box:hover {
  background-color: var(--color-primary);
  color: #fff;
  border-color: var(--color-primary);
}

.category-box img {
  width: 56px;
  height: auto;
  filter: brightness(0);
}

.category-box:hover img {
  filter: brightness(0) invert(1);
}

/* ------------------- Poster Section -------------------- */

.poster {
  background-color: var(--color-text-main);
  color: var(--color-text-light);
  padding: 0;
}

.poster-image img {
  width: 100%;
  max-width: 600px;
  z-index: 2;
  filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.3));
}

.poster .container {
  background-color: var(--color-text-main);
  padding: 70px;
  margin-top: 40px;
  max-width: 1600px;
}

.poster-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.poster-content {
  width: 50%;
}

.poster-content h5 {
  color: var(--color-accent);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 32px;
}

.poster-content h2 {
  font-size: 48px;
  margin-bottom: 32px;
  line-height: 1.2;
  color: var(--color-text-light);
}

.poster-content .timer {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
}

.poster-content .timer div {
  background-color: #ffffff;
  color: var(--color-text-main);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.poster-content .timer h2 {
  font-size: 16px;
  margin: 0;
  line-height: 1;
  color: var(--color-text-main);
  font-weight: 600;
}

.poster-content .timer p {
  font-size: 11px;
  margin: 0;
}

.poster-content a {
  background-color: var(--color-accent);
  color: #ffffff;
  padding: 16px 48px;
  border-radius: var(--radius-sm);
  font-weight: 500;
  display: inline-block;
}

.poster-content a:hover {
  background-color: #00e055;
}

/* ------------------- Our Products -------------------- */

.color-options {
  bottom: 20px;
  left: 50%;
  display: flex;
  gap: 12px;
}

.color-options span {
  width: 18px;
  height: 18px;
  background-color: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
}

.color-options span.actives {
  background-color: var(--color-primary);
  border: 2px solid black;
}
.color-options span.actives-green {
  background-color: var(--color-accent);
  border: 2px solid black;
}
.color-options span.actives-black {
  background-color: var(--color-text-main);
  border: 2px solid black;
}
.color-options span.actives-dark-green {
  background-color: darkolivegreen;
  border: 2px solid black;
}

/* ------------------- Featured Section -------------------- */


.featured-grid {
  display: flex;
  width: 100%;
  gap: 30px;
  height: 700px;
  margin-top: 30px;
}

.featured-left {
  flex: 1;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: var(--radius-sm);
  overflow: hidden;
}

.featured-left img {
  max-width: 90%;
  height: auto;
  object-fit: contain;
  padding-top: 100px;
  filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.3));
}

.featured-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
}

.featured-right-top {
  background-color: #0d0d0d;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.featured-right-top img {
  width: 60%;
  height: auto;
  object-fit: contain;
}

.featured-right-bottom {
  display: flex;
  gap: 30px;
  height: 50%;
}

.featured-small-card {
  background-color: #303030;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-small-card img {
  max-width: 80%;
  max-height: 80%;
}

.featured-grid h2 {
  position: absolute;
  bottom: 80px;
  left: 30px;
  font-size: 24px;
  margin: 0;
  z-index: 10;
  color: white;
  font-family: var(--font-heading);
  letter-spacing: 0.03em;
}

.featured .featured-grid .featured-left h2 {
  font-size: 30px;
  margin-bottom: 25px;
}

.featured .featured-grid .featured-left p {
  margin: 0px 0px 10px 0px;
}

.featured .featured-grid .featured-right .featured-right-top h2 {
  font-size: 30px;
  margin-bottom: 25px;
}

.featured .featured-grid .featured-right .featured-right-top p {
  margin: 0px 0px 10px 0px;
}

.featured .featured-grid .featured-right .featured-right-bottom h2 {
  font-size: 30px;
  margin-bottom: 5px;
}

.featured .featured-grid .featured-right .featured-right-bottom p {
  margin: 0px 0px 10px 0px;
}

.featured p {
  position: absolute;
  bottom: 50px;
  left: 30px;
  font-size: 14px;
  width: 240px;
  color: #fafafa;
  opacity: 0.8;
  z-index: 10;
}

.featured a {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  z-index: 10;
  color: white;
}

.featured img {
  width: 70%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.featured div:hover img {
  transform: none;
}

/* ------------------- Services Section -------------------- */

.services {
  padding: 60px 0;
}

.service-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service-box img {
  background-color: black;
  border: 10px solid #c1c1c1;
  border-radius: 50%;
  padding: 10px;
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.service-box h4 {
  color: var(--color-text-main);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.service-box h4::before {
  display: none;
}

.service-box p {
  font-size: 14px;
}

/* ------------------- Footer -------------------- */

footer {
  background-color: var(--color-text-main);
  color: var(--color-text-light);
  padding-top: 80px;
  font-family: var(--font-primary);
}

footer .row {
  margin-bottom: 60px;
  flex-wrap: nowrap;
  justify-content: space-between;
}

footer .col-3,
footer .col-2 {
  width: auto;
  padding: 0;
}

footer h2 {
  color: var(--color-text-light);
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
}

footer ul li {
  margin-bottom: 16px;
  color: #fafafa;
}

footer a {
  color: #fafafa;
}

footer a:hover {
  text-decoration: underline;
}

footer .subscribe-group {
  position: relative;
  margin-top: 16px;
  width: 217px;
}

footer .subscribe-group input {
  border: 1px solid #fafafa;
  border-radius: 4px;
  padding: 12px 40px 12px 16px;
  background: transparent;
  color: white;
  width: 100%;
  font-size: 14px;
}

footer .subscribe-group input::placeholder {
  color: rgba(250, 250, 250, 0.4);
}

footer .logo img {
  margin-bottom: 20px;
  height: 20px;
}

.downloadApp h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
  color: #fafafa;
}

.downloadApp img {
  display: block;
}

.download-row {
  align-items: center;
}

.qr-code img {
  width: 80px;
  height: 80px;
}

.app-buttons img {
  height: 40px;
  width: auto;
  cursor: pointer;
}

.social-icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  filter: brightness(0) invert(1);
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: translateY(-5px);
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 24px 0;
}

.copyright {
  color: #3d3d3d;
  text-align: center;
  font-size: 16px;
}



