:root {
  --font-heading: "Inter", sans-serif;
  --font-primary: "Poppins", serif;
  --color-black: #000;
  --color-white: #FAFAFA;
  --color-theme: #DB4444;
  --color-green: #00FF66;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1600px;
  margin: auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-20 {
  width: 20%;
}

/* Header */

.header-top {
  background-color: var(--color-black);
  padding: 10px 0;
  color: var(--color-white);
  padding: 0;
}

.main-header {
  padding: 20px 0;
  background-color: var(--color-white);
}